<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>小型二手货交易平台 - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/bootstrap")
        @Styles.Render("~/Content/themes/adminlte")
        @Styles.Render("~/Content/themes/font-awesome")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/application")
    </head>
    <body>
        @Html.Partial("_TopNavBar")
        @RenderSection("featured", required: false)
        @RenderBody()
        @RenderSection("scripts", required: false)
    </body>
</html>
